<div class="container_big-card">
    
    <div class="big-card_picture">
        <img src="https://www.alura.com.br/artigos/assets/como-comecar-com-angular/como-comecar-com-angular.png"
         alt="" 
         height="200px"
         width="100%"
         srcset="">
    </div>
    <div class="big-card_title">
        <h1>
            <a href=""> Saiu uma nova versão do Angular surpresa !!</a></h1>
    </div>
    <div class="big-card_description">
        <p> <a>Era uma versão do angular, que foi atualizada e hoje em dia já esta antiga</a></p>
    </div>
</div>
